@import 'tailwindcss';
@source not './lib/assets/';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #0171B0;
}

@theme inline {
    --breakpoint-xl: 72rem;
    --breakpoint-2xl: initial;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: "Roboto Variable";
    --font-mono: "Roboto Mono Variable", "Courier New", "Courier", monospace;
}


@layer base {
    body {
        background: var(--background);
        color: var(--foreground);

        @apply text-lg;
    }

    /* These are some good default sizes taken from Bootstrap and adjusted a little bit */
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        @apply font-mono;
        line-height: 1.2;
    }

    h1, .h1 {
        font-size: calc(1.40625rem + 1.875vw);
    }

    .h2, h2 {
        font-size: calc(1.35rem + 1.2vw);
    }

    .h3, h3 {
        font-size: calc(1.321875rem + .8625vw);
    }

    .h4, h4 {
        font-size: calc(1.29375rem + .525vw);
    }

    .h5, h5 {
        font-size: calc(1.265625rem + .1875vw);
    }

    .h6,h6 {
        font-size: 1.125rem;
        line-height: 1.6;
    }

    @media (min-width: 1200px) {
        .h1, h1 {
            font-size: 2.8125rem;
        }
        .h2, h2 {
            font-size: 2.25rem;
        }
        .h3, h3 {
            font-size: 1.96875rem;
        }
        .h4, h4 {
            font-size: 1.6875rem;
        }
    }

    a {
        @apply underline;
    }
}


@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@utility center-block {
    display: grid;
    place-content: center;
}

@utility text-primary {
    color: var(--primary);
}

p + p {
    margin-top: 1rem;
}